# Configuration file

general {
    # When held in the off-hand, this item makes modifiers change stats in the opposite direction. [default: minecraft:quartz]
    S:"Inverse Item"=minecraft:quartz

    # The durability damage dealt to an item that silk touches a spawner. [range: 0 ~ 100000, default: 100]
    I:"Spawner Silk Damage"=500

    # The level of silk touch needed to harvest a spawner.  Set to -1 to disable, 0 to always drop.  The enchantment module can increase the max level of silk touch. [range: -1 ~ 127, default: 1]
    I:"Spawner Silk Level"=1
}


ignore_spawn_cap {
    # The item that applies this modifier. [default: minecraft:chorus_fruit]
    S:item=minecraft:barrier
}


ignore_spawn_conditions {
    # The item that applies this modifier. [default: minecraft:dragon_egg]
    S:item=minecraft:barrier
}


max_delay {
    # The item that applies this modifier. [default: minecraft:clock]
    S:item=mekanism:upgrade_speed

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 99999]
    I:max_value=800

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 10]
    I:min_value=400

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: -10]
    I:value=-20
}


max_nearby_entities {
    # The item that applies this modifier. [default: minecraft:ghast_tear]
    S:item=forbidden_arcanus:rune

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 40]
    I:max_value=18

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 0]
    I:min_value=0

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: 2]
    I:value=2
}


min_delay {
    # The item that applies this modifier. [default: minecraft:sugar]
    S:item=minecraft:barrier

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 99999]
    I:max_value=200

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 5]
    I:min_value=200

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: -5]
    I:value=-5
}


player_activation_range {
    # The item that applies this modifier. [default: minecraft:prismarine_crystals]
    S:item=forbidden_arcanus:dark_matter

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 50]
    I:max_value=32

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 0]
    I:min_value=0

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: 2]
    I:value=2
}


redstone_control {
    # The item that applies this modifier. [default: minecraft:comparator]
    S:item=immersiveengineering:connector_probe
}


require_players {
    # The item that applies this modifier. [default: minecraft:nether_star]
    S:item=mekanism:upgrade_anchor
}


spawn_count {
    # The item that applies this modifier. [default: minecraft:fermented_spider_eye]
    S:item=botania:ender_air_bottle

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 20]
    I:max_value=8

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 1]
    I:min_value=1

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: 1]
    I:value=1
}


spawn_eggs {
    # A list of entity registry names that cannot be applied to spawners via egg. [default: ]
    S:"Banned Mobs" <
    minecraft:zombified_piglin
    minecraft:skeleton_horse
    minecraft:wandering_trader
    minecraft:turtle
    minecraft:bee
    minecraft:evoker
    minecraft:horse
    minecraft:zombie_villager
    minecraft:guardian
    minecraft:phantom
    minecraft:strider
    minecraft:witch
    minecraft:ocelot
    minecraft:ghast
    minecraft:elder_guardian
    minecraft:wither_skeleton
    minecraft:mule
    minecraft:squid
    minecraft:polar_bear
    minecraft:pillager
    minecraft:parrot
    minecraft:dolphin
    minecraft:piglin
    minecraft:bat
    minecraft:vex
    minecraft:fox
    minecraft:zoglin
    minecraft:cat
    minecraft:pufferfish
    minecraft:ravager
    minecraft:villager
    minecraft:silverfish
    minecraft:panda
    minecraft:donkey
    minecraft:trader_llama
    minecraft:shulker
    minecraft:enderman
    minecraft:endermite
    minecraft:vindicator
    minecraft:drowned
    minecraft:zombie_horse
    minecraft:wolf
    minecraft:hoglin
    minecraft:tropical_fish
    minecraft:llama
    minecraft:salmon
    minecraft:magma_cube
    minecraft:slime
    minecraft:blaze
    autumnity:snail
    savageandravage:griefer
    endergetic:booflo
    endergetic:puff_bug
    upgrade_aquatic:jellyfish
    upgrade_aquatic:box_jellyfish
    upgrade_aquatic:cassiopea_jellyfish
    upgrade_aquatic:flare
    upgrade_aquatic:great_thrasher
    upgrade_aquatic:thrasher
    upgrade_aquatic:lionfish
    upgrade_aquatic:pike
    upgrade_aquatic:nautilus
    conjurer_illager:conjurer
    waddles:adelie_penguin
    bones:skeleton_sheep
    bones:skeleton_pig
    bones:skeleton_cow
    bones:skeleton_chicken
    lava_monster:lava_monster
    quark:foxhound
    quark:frog
    quark:toretoise
    quark:stoneling
    aquaculture:starshell_turtle
    aquaculture:arrau_turtle
    aquaculture:box_turtle
     >
}


spawn_range {
    # The item that applies this modifier. [default: minecraft:blaze_rod]
    S:item=minecraft:end_rod

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 32]
    I:max_value=8

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 0]
    I:min_value=0

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: 1]
    I:value=1
}
